
p.centre {
  text-align: center;
}

blockquote {
  margin: 0 2em;
  padding-left: 1em;
  border-left: solid 2px #aaa;
}

span.author a {
    font-weight: bold;
    text-decoration: none;
    color: #222;
}

nav.pages {
  border-top: solid 1px #ccc;
}

nav.pages a.prev {
  display: block;
  float: left;
}
nav.pages a.next {
  display: block;
  float: right;
}

section.content header h1 a {
  color: #00a;
  text-decoration: none;
}
section.content header {
  border-bottom: solid 1px #ccc;
  padding-top: 10pt;
}
section.content article {
  margin-bottom: 5em;
}

section.content article time {
  font-weight: bold;
}

div.post-comment-count {
    position: relative;
    top: -4em;
}

img.float-left {
  margin-right: 1em;
}

img.float-right {
  margin-left: 1em;
}

article footer {
  border: solid 1px #ccc;
  height: 100px;
}

article footer img {
  float: left;
  margin-right: 10pt;
}

article footer div:nth-child(2) {
  margin-top: 16pt;
}

article footer div span {
  font-weight: bold;
}

ul.social {
  height: 16px;
  list-style-type: none;
  margin: 4pt 0 0 0;
}

ul.social li {
  float: left;
  margin-right: 10pt;
  background: url(social.png);
}

ul.social li a {
  display: block;
  width: 16px;
  height: 16px;
  background: url(social.png);
}

ul.social li a.facebook { background-position: 0 0; }
ul.social li a.twitter { background-position: -16px 0; }
ul.social li a.googleplus { background-position: -32px 0; }
ul.social li a.hackernews { background-position: -80px 0; }
ul.social li a.reddit { background-position: -48px 0; }
ul.social li a.pinterest { background-position: -64px; 0; }
