{% extends "skeleton.html" %}

{% block header %}
    <style>
      section.maincontent {
        position: relative;
        width: 900px;
        margin: 15px auto 0 auto;
      }
      img.eye {
        float: right;
      }
    </style>
{% endblock %}

{% block maincontent %}
  <section class="content">
    <h1>Welcome</h1>
    <p><img src="{{url_for('static', filename='img/eye.jpg')}}" class="eye" width="382" height="282" alt="Eye">At Codeka
       Consulting, we have an eye for detail. Whether you just need a simple website for your online presence, or
       whether you need a complete overhaul of your business’s IT services, we have years of experience building,
       supporting and maintaining all kinds of software.</p>
    <p>We will work closely with your business to determine your exacting requirements and then keep you in the loop
       all the way throughout the development process. You can always be sure you’re getting exactly what your business
       needs to help it succeed.</p>
    <p>Based in the Sydney area, Codeka Consulting can do work for clients all over New South Wales and Australia. If
       you are a looking to automate business processes, or you are looking to build an online shop-front, or even if
       you’re just taking your first online steps, we can help you to build a solution that fits your budget and your
       requirements.</p>
    <p>So <a href="mailto:dean@codeka.com">contact us</a> today for a free consultation, and find out just what we
       can do for your business!</p>
  </section>
{% endblock %}
